
<html>
<body>
    <div class="login">
       <h1>Student Exam Performance Indicator</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1>
    
        <div class="mb-3">
            <label class="form-label">Number of pregnancies</label>
            <input class="form-control" type="number" name="Pregnancies"
                placeholder="Enter Number of pregnancies" min='0' max='17' />
        </div>

        <div class="mb-3">
            <label class="form-label">Glucose</label>
            <input class="form-control" type="number" name="Glucose"
                placeholder="Enter Glucose (in mg/dL)" min='70' max='800' />
        </div>

        <div class="mb-3">
            <label class="form-label">BloodPressure</label>
            <input class="form-control" type="number" name="BloodPressure"
                placeholder="Enter BloodPressure (in mmHg)" min='80' max='300' />
        </div>

        <div class="mb-3">
            <label class="form-label">SkinThickness</label>
            <input class="form-control" type="number" name="SkinThickness"
                placeholder="Enter SkinThickness (in mm)" min='1' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">Insulin</label>
            <input class="form-control" type="number" name="Insulin"
                placeholder="Enter Insulin (in µU/mL)" min='2' max='400' />
        </div>

        <div class="mb-3">
            <label class="form-label">BMI</label>
            <input class="form-control" type="number" name="BMI"
                placeholder="Enter BMI (Body Mass Index)" min='15' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">BMI</label>
            <input class="form-control" type="number" name="BMI"
                placeholder="Enter BMI (Body Mass Index)" min='15' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">DiabetesPedigreeFunction</label>
            <input class="form-control" type="number" name="DiabetesPedigreeFunction"
                placeholder="Enter DiabetesPedigreeFunction" min='1' max='100' />
        </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input class="form-control" type="number" name="Age"
                placeholder="Enter Age" min='1' max='100' />
        </div>

        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict your outcome" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>
